<p>
<strong>TITLE:</strong>
<%= @article.title %></p>
<p>

<p>
<strong>TEXT:</strong>
<p><%= @article.content %></p>
<p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
